[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
flask = "*"
lxml = "*"
frozendict = "*"
python-dotenv = "*"
openai = "*"
flask-cors = "*"
numpy = "*"
coloredlogs = "*"

[dev-packages]

[requires]
python_version = "3.12"
