[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
argparse = "*"
coloredlogs = "*"
elasticsearch = "*"
flask-cors = "*"
gunicorn = "*"
python-dotenv = "*"
geojson = "*"
geopandas = "*"
shapely = "*"
rtree = "*"

[dev-packages]

[requires]
python_version = "3.12"
