[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
frozendict = "*"
openai = "*"
numpy = "*"
coloredlogs = "*"
argparse = "*"
aiohttp = "*"
rapidfuzz = "*"
nameparser = "*"
pathvalidate = "*"

[dev-packages]

[requires]
python_version = "3.12"
