[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url  = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch_cpu"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
frozendict = "*"
numpy = "*"
coloredlogs = "*"
argparse = "*"
rapidfuzz = "*"
nameparser = "*"
pathvalidate = "*"
sentence-transformers = "*"
python-dotenv = "*"
torch = {version = "*", index = "pytorch_cpu"}
torchvision = {version = "*", index = "pytorch_cpu"}
torchaudio = {version = "*", index = "pytorch_cpu"}
requests-cache = "*"
hf-xet = "*"
tqdm = "*"
aiohttp-client-cache = {version = "*", extras = ["sqlite"]}

[dev-packages]

[requires]
python_version = "3.12"
