[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url  = "https://download.pytorch.org/whl/cpu"
verify_ssl = true
name = "pytorch_cpu"

[packages]
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
frozendict = "*"
numpy = "*"
coloredlogs = "*"
argparse = "*"
aiohttp = "*"
rapidfuzz = "*"
nameparser = "*"
pathvalidate = "*"
sentence-transformers = "*"
python-dotenv = "*"

[dev-packages]

[torch_cpu]
torch = {index="pytorch_cpu"}

[requires]
python_version = "3.12"
