name: Data Generation
on:
  push:
    branches:
      - main
    paths:
      - "generation/**"
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

concurrency:
  group: "generation"
  cancel-in-progress: true

jobs:
  generate:
    name: Generate Data
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./generation
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install Dependencies
        run: uv sync
      - name: Setup Cache Environment
        run: echo "cache_id=$(date --utc '+%U')" >> $GITHUB_ENV
      - name: Cache Generation
        uses: actions/cache@v4
        with:
          path: generation/.cache
          key: generation-${{ runner.os }}-${{ env.cache_id }}
      - name: Generate Data
        run: uv run python main.py --step all
        env:
          DATA_DIR: "../data"
          SITEMAP_BASE: ${{ vars.BASE_URL }}
          MADGRADES_API_KEY: ${{ secrets.MADGRADES_API_KEY }}
      - name: Upload Data
        uses: actions/upload-artifact@v5
        with:
          name: uw-coursemap-data-snapshot-${{ github.run_id }}
          path: data/
          include-hidden-files: "true"

  deploy:
    name: Deploy to S3
    needs: generate
    #if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./generation
    environment:
      name: api
      url: https://api.uwcourses.com
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version-file: .python-version
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "latest"
      - name: Install Dependencies
        run: uv sync
      - name: Download Generated Snapshot
        uses: actions/download-artifact@v6
        with:
          name: uw-coursemap-data-snapshot-${{ github.run_id }}
          path: data
      - name: Upload to S3
        run: uv run python main.py --step upload --no_build
        env:
          DATA_DIR: "./data"
          SITEMAP_BASE: ${{ vars.BASE_URL }}
          S3_ENDPOINT_URL: ${{ secrets.S3_ENDPOINT_URL }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_BUCKET: ${{ secrets.S3_BUCKET }}