name: Node.js CI

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  check-web:
    runs-on: ubuntu-latest
    env:
      PUBLIC_API_URL: ${{ vars.PUBLIC_API_URL }}
      PUBLIC_SEARCH_API_URL: ${{ vars.PUBLIC_SEARCH_API_URL }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "npm"
      - run: npm ci
      - run: npm run check

  test-web:
    runs-on: ubuntu-latest
    env:
      PUBLIC_API_URL: ${{ vars.PUBLIC_API_URL }}
      PUBLIC_SEARCH_API_URL: ${{ vars.PUBLIC_SEARCH_API_URL }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "npm"
      - run: npm ci
      - run: npm run test

  build-web:
    runs-on: ubuntu-latest
    needs:
      - check-web
      - test-web
    env:
      PUBLIC_API_URL: ${{ vars.PUBLIC_API_URL }}
      PUBLIC_SEARCH_API_URL: ${{ vars.PUBLIC_SEARCH_API_URL }}
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm test

  build-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: "0"
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 25
          cache: "npm"
      - run: npm ci
      - run: npm run docs:build --if-present
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
